---
http_interactions:
- request:
    method: get
    uri: https://api.uberchord.com/v1/chords?names=C%2CC_m%2CC_7%2CC_m7%2CC_maj7%2CC_sus2%2CC_sus4%2CC_dim%2CDb%2CDb_m%2CDb_7%2CDb_m7%2CDb_maj7%2CDb_sus2%2CDb_sus4%2CDb_dim%2CD%2CD_m%2CD_7%2CD_m7%2CD_maj7%2CD_sus2%2CD_sus4%2CD_dim%2CEb%2CEb_m%2CEb_7%2CEb_m7%2CEb_maj7%2CEb_sus2%2CEb_sus4%2CEb_dim%2CE%2CE_m%2CE_7%2CE_m7%2CE_maj7%2CE_sus2%2CE_sus4%2CE_dim%2CF%2CF_m%2CF_7%2CF_m7%2CF_maj7%2CF_sus2%2CF_sus4%2CF_dim%2CGb%2CGb_m%2CGb_7%2CGb_m7%2CGb_maj7%2CGb_sus2%2CGb_sus4%2CGb_dim%2CG%2CG_m%2CG_7%2CG_m7%2CG_maj7%2CG_sus2%2CG_sus4%2CG_dim%2CAb%2CAb_m%2CAb_7%2CAb_m7%2CAb_maj7%2CAb_sus2%2CAb_sus4%2CAb_dim%2CA%2CA_m%2CA_7%2CA_m7%2CA_maj7%2CA_sus2%2CA_sus4%2CA_dim%2CBb%2CBb_m%2CBb_7%2CBb_m7%2CBb_maj7%2CBb_sus2%2CBb_sus4%2CBb_dim%2CB%2CB_m%2CB_7%2CB_m7%2CB_maj7%2CB_sus2%2CB_sus4%2CB_dim
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3b33-32xLt0CWR9pJ19xjd3/kQIWMMNM"
    body:
      encoding: ASCII-8BIT
      string: '[{"strings":"X 3 2 0 1 0","fingering":"X 3 2 X 1 X","chordName":"C,,,","enharmonicChordName":"C,,,","voicingID":"9223372036855826559","tones":"C,E,G"},{"strings":"X
        3 5 5 4 3","fingering":"X 1 3 4 2 1","chordName":"C,m,,","enharmonicChordName":"C,m,,","voicingID":"9223372036959802495","tones":"C,Eb,G"},{"strings":"X
        3 2 3 1 0","fingering":"X 3 2 4 1 X","chordName":"C,,7,","enharmonicChordName":"C,,7,","voicingID":"9223372036855924863","tones":"C,E,G,Bb"},{"strings":"X
        3 5 3 4 3","fingering":"X 1 3 1 2 1","chordName":"C,m,7,","enharmonicChordName":"C,m,7,","voicingID":"9223372036959736959","tones":"C,Eb,G,Bb"},{[...]
