---
http_interactions:
- request:
    method: get
    uri: https://api.uberchord.com/v1/chords/Gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9c-OA9sZV9Z4FnrZE9dUuFE4OsAFZc"
    body:
      encoding: ASCII-8BIT
      string: '[{"strings":"2 4 4 3 2 2","fingering":"1 3 4 2 1 1","chordName":"Gb,,,","enharmonicChordName":"F#,,,","voicingID":"9223372036924084354","tones":"Gb,Bb,Db"}]'
  recorded_at: Fri, 22 May 2020 15:48:04 GMT
recorded_with: VCR 5.1.0
