---
http_interactions:
- request:
    method: get
    uri: https://api.uberchord.com/v1/chords/F_m7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9f-OcwJlUjajVFQc4nG//lpUHZ7iIM"
    body:
      encoding: ASCII-8BIT
      string: '[{"strings":"1 3 1 1 1 1","fingering":"1 3 1 1 1 1","chordName":"F,m,7,","enharmonicChordName":"F,m,7,","voicingID":"9223372036889412705","tones":"F,Ab,C,Eb"}]'
  recorded_at: Fri, 22 May 2020 16:03:58 GMT
recorded_with: VCR 5.1.0
