// colors
// $color1: #8d8741;
// $color2: #659dbd;
// $color3: #daad86;
// $color4: #bc986a;
// $color5: #fbeec1;
$color1: #4285f4;
$color2: #5c2018;
$color3: #bc4639;
$color4: #d4a59a;
$color5: #f3e0dc;

// layout
.col {
  padding-left: 0;
  padding-right: 0;
}

// top bar
.tabTopBar {
  font: Arial, sans-serif;
  background-color: $color1;
  h1 {
    margin-left: 0.5rem;
    font-size: 48px;
    font-weight: 800;
  }
  a {
    color: white;
  }
  li {
    padding-right: 1rem;
    list-style: none;
    font-weight: 600;
    font-size: 24px;
    background-color: $color1;
  }
}

// sidebars
.chordsSidebar, .indexSidebar {
  min-height: 100vh;
  z-index: 100;
  h4 {
    font-weight: 600;
  }
  h5 {
    font-weight: 500;
  }
}

// index
.indexSidebar {
  color: $color5;
  background-color: $color2;
  div {
    padding: 0.5rem 0 0 0.5rem;
    right: 0;
  }
  li {
    list-style: none;
    span:hover {
      color: $color3;
    }
  }
  h5 {
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    margin-bottom: 0;
  }
  svg {
    height: 1.0rem;
  }
  .indexItem {
    cursor: pointer;
    &:hover {
      color: $color4;
    }
  }
  .indexItemSelected {
    color: yellow;
  }
}

// chords
.chordsSidebar {
  color: $color5;
  background-color: $color3;
  &>div {
    padding: 0.5rem 0 0 0.5rem;
    left: 0;
  }
  h5 {
    margin: 0 0.5rem 0 0;
    min-width: 1.5rem;
  }
  li {
    list-style: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $color5;
  }
  button {

  }
}

// tab editor
$line-height: 1;
$font-size: 16px;
$fixed-width: 80ch;

.editorContainer {
  min-height: 100vh;
  background-color: $color5;
  padding: 1rem 2rem;
  h5 {
    font-weight: 600;
  }
}

.quill {
  min-width: $fixed-width;
  max-width: $fixed-width;
}

.ql-toolbar {
  background-color: white;
  display: none;
}

.ql-editor {
  background-color: white;
  font: $font-size Monospace;
  line-height: 1;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
}

.saveButton {
  float: right;
  margin-top: 0.5rem;
}

.editTitle {
  h5, input {
    width: 50%;
  }
  h5 {
    margin-bottom: 1rem;
  }
  input {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.7rem;
    margin-bottom: 0.95rem;
    height: inherit;
    padding: 0;
  }
}
